/* Added Lines */

.window-buttongroup {
  display: none !important;
}
.linux #tabs-container:not(.none).top {
  padding-right: 10px;
}

#browser.normal #header,
#browser.normal #header .vivaldi,
#browser.normal #header .window-buttongroup button {
    height: 30px !important;
}

/* End lines */
